{% extends 'base.html' %}

{% block content %}
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">

        <h2>Card 1 Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">

        <h2>Card 2 Title</h2>
        <p>Nulla eu velit vitae lectus mattis interdum ac sit amet diam.</p>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">

        <h2>Card 3 Title</h2>
        <p>Phasellus scelerisque metus nec elit tincidunt, at consectetur neque venenatis.</p>
    </div>

{% endblock content %}
