2
{% extends 'base.html' %}

<a href = "{% url 'home' %}">go back</a>

{% block content %}

<h2 class="p-3 mb-2 bg-primary text-white">Pizza Selected: <u>{{ object.pizza }}</u> ({{ object.price }} $)</h2><br>

<h3 class="text-info">Toppings Added</h3>

{% if object.onion is True %}
<li>Onion</li>
{% endif %}

{% if object.tomato is True %}
<li>Tomato</li>
{% endif %}

{% if object.cheese is True %}
<li>Cheese</li>
{% endif %}

{% if object.sausage is True %}
<li>Sausage</li>
{% endif %}

{% if object.pepper is True %}
<li>Pepper</li>
{% endif %}

{% if object.chicken is True %}
<li> Mushroom</li>
{% endif %}

{% if object.basil is True %}
<li>Pepper</li>
{% endif %}

{% if object.mushroom is True %}
<li>Mushroom</li>
{% endif %}

<br><p>Pies: {{ object.quantity }}</p>

<p><a class="btn btn-outline-primary btn-sm" href="{% url 'update' object.pk %}" role="button">Change Toppings and Pizzas Quantity</a></p>

{% if object.quantity == 0 %}

    <p class="text-danger">You cannot have 0 Pies.</p>
    {% elif object.quantity > 10 %}
    <p class="text-danger">No more than 10 pies. Store Overload!</p>
    {% else %}
    <a class="btn btn-primary btn-lg active" href="{% url 'checkout' object.pk %}" role="button">Proceed to buy</a>

{% endif %}

{% if user.is_authenticated %}
<p><br><a href = "{% url 'admin_update' object.id %}">Admin Changes</a></p>
<p><a class="btn btn-outline-danger btn-sm" href="{% url 'delete' object.id %}" role="button">Delete Pizza</a></p>

{% endif %}

{% endblock content %}

<!-- NOTE:  in django the if else statements do not contain False. So instead of providing False in conditions use not True for example: if object.pineapple is not True -->