{% extends 'base.html' %}

{% block content %}

<h2>Order</h2>

<div class="row">
    {% for each in object_list %}
    <div class="col">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">{{ each }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ each.price }} $</h5>
            <p class="card-text">Delicious Pizza.</p>
            <a href="{{ each.get_absolute_url }}" class="btn btn-primary btn-lg active">Order</a>
          </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}